@media(max-width:400px){
    body{
        border:2px solid red!important;
        height:270rem;
    }
    #projects{
        position: relative;
        top:-50rem;
        left: -23rem!important;
        height: 1rem!important;
        /* padding-bottom:-30rem!important ; */
    }
    #projectdiv{
        width: 25rem;
        position: relative;
        right: -23rem!important;
    }
    .project-card{
    }
    #tech{
     display: none;
    }
}