@media(max-width:400px){
    body{
        border:2px solid red!important;
        height:270rem;
    }
    #projects{
        position: relative;
        top:-50rem;
        left: -23rem!important;
        height: 1rem!important;
        /* padding-bottom:-30rem!important ; */
    }
    #projectdiv{
        width: 25rem;
        position: relative;
        right: -23rem!important;
    }
    .project-card{
    }
    #tech{
     display: none;
    }
}@media (min-width: 1900px)   {
#projects{
    left: 15rem!important;
    scale: 120% !important;
}
}@media (max-width: 1536px) and (min-width: 1280px) {
#projects{
    left:7rem!important;
}
}  @media (max-width: 1280px) and (min-width: 1024px) {
    #projects{
        left: 4rem!important;
    }
}
